@import '~@fontsource/source-sans-3/index.css';
@import '~@fontsource/source-sans-3/700.css';
@import './vars.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3";
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.border-bottom {
  width: 100%;
  height: 1px;
  background-color: lighten(#8492A6, 30);
}

.rounded-borders {
  height: 40px;
  background-color: $bg-color;
  border-radius: 0 0 80% 80%;
}


.label {
  display: inline-block;
  background-color: $menu-light-bg;
  color: $active-link-color;
  border: 1px solid lighten($active-link-color, 40);
  border-radius: 25px;
  padding: 0 10px;
  font-size: 14px;
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 5px 20px;
  border-radius: 5px;
  margin: 0 10px;
  &.btn-dark {
    background-color: $menu-dark-bg;
    color: #fff;
    box-shadow: 0 3px 5px $menu-dark-bg;
  }
  &.btn-light {
    color: $active-link-color;
    border: 1px solid $active-link-color;
    &:hover {
      background-color: $menu-dark-bg;
      color: #fff;
    }
  }
}